[Desktop Entry]
Encoding=UTF-8
Name=MX Idesktool
Name[am]=MX Idesktool
Name[ar]=MX Idesktool
Name[bg]=MX Idesktool
Name[bn]=MX Idesktool
Name[ca]=MX Idesktool
Name[cs]=MX Idesktool
Name[da]=MX Idesktool
Name[de]=MX Idesktool
Name[el]=MX Idesktool
Name[es]=MX Idesktool
Name[et]=MX Idesktool
Name[eu]=MX Idesktool
Name[fa]=MX Idesktool
Name[fil_PH]=MX Idesktool
Name[fi]=MX Idesktool
Name[fr]=MX Idesktool
Name[he_IL]=MX Idesktool
Name[hi]=MX Idesktool
Name[hr]=MX Idesktool
Name[hu]=MX Idesktool
Name[id]=MX Idesktool
Name[is]=MX Idesktool
Name[it]=MX Crea Dock
Name[ja]=MX Idesktool
Name[kk]=MX Idesktool
Name[ko]=MX Idesktool
Name[lt]=MX Idesktool
Name[mk]=MX Idesktool
Name[mr]=MX Idesktool
Name[nb]=MX Idesktool
Name[nl]=MX Idesktool
Name[pl]=MX Idesktool
Name[pt_BR]=MX Idesktool
Name[pt]=MX Idesktool
Name[ro]=MX Idesktool
Name[ru]=MX Idesktool
Name[sk]=MX Idesktool
Name[sl]=MX Idesktool
Name[sq]=MX Idesktool
Name[sr]=MX Idesktool
Name[sv]=MX Idesktool
Name[tr]=MX Idesktool
Name[uk]=MX Idesktool
Name[vi]=MX Idesktool
Name[zh_CN]=MX Idesktool
Name[zh_TW]=MX Idesktool
Comment=Create desktop icons in MX-Fluxbox
Comment[am]=Create desktop icons in MX-Fluxbox
Comment[ar]=Create desktop icons in MX-Fluxbox
Comment[bg]=Create desktop icons in MX-Fluxbox
Comment[bn]=Create desktop icons in MX-Fluxbox
Comment[ca]=Create desktop icons in MX-Fluxbox
Comment[cs]=Create desktop icons in MX-Fluxbox
Comment[da]=Create desktop icons in MX-Fluxbox
Comment[de]=Create desktop icons in MX-Fluxbox
Comment[el]=Create desktop icons in MX-Fluxbox
Comment[es]=Create desktop icons in MX-Fluxbox
Comment[et]=Create desktop icons in MX-Fluxbox
Comment[eu]=Create desktop icons in MX-Fluxbox
Comment[fa]=Create desktop icons in MX-Fluxbox
Comment[fil_PH]=Create desktop icons in MX-Fluxbox
Comment[fi]=Create desktop icons in MX-Fluxbox
Comment[fr]=Create desktop icons in MX-Fluxbox
Comment[he_IL]=Create desktop icons in MX-Fluxbox
Comment[hi]=Create desktop icons in MX-Fluxbox
Comment[hr]=Create desktop icons in MX-Fluxbox
Comment[hu]=Create desktop icons in MX-Fluxbox
Comment[id]=Create desktop icons in MX-Fluxbox
Comment[is]=Create desktop icons in MX-Fluxbox
Comment[it]=Create desktop icons in MX-Fluxbox
Comment[ja]=Create desktop icons in MX-Fluxbox
Comment[kk]=Create desktop icons in MX-Fluxbox
Comment[ko]=Create desktop icons in MX-Fluxbox
Comment[lt]=Create desktop icons in MX-Fluxbox
Comment[mk]=Create desktop icons in MX-Fluxbox
Comment[mr]=Create desktop icons in MX-Fluxbox
Comment[nb]=Create desktop icons in MX-Fluxbox
Comment[nl]=Create desktop icons in MX-Fluxbox
Comment[pl]=Create desktop icons in MX-Fluxbox
Comment[pt_BR]=Create desktop icons in MX-Fluxbox
Comment[pt]=Create desktop icons in MX-Fluxbox
Comment[ro]=Create desktop icons in MX-Fluxbox
Comment[ru]=Create desktop icons in MX-Fluxbox
Comment[sk]=Create desktop icons in MX-Fluxbox
Comment[sl]=Create desktop icons in MX-Fluxbox
Comment[sq]=Create desktop icons in MX-Fluxbox
Comment[sr]=Create desktop icons in MX-Fluxbox
Comment[sv]=Create desktop icons in MX-Fluxbox
Comment[tr]=Create desktop icons in MX-Fluxbox
Comment[uk]=Create desktop icons in MX-Fluxbox
Comment[vi]=Create desktop icons in MX-Fluxbox
Comment[zh_CN]=Create desktop icons in MX-Fluxbox
Comment[zh_TW]=Create desktop icons in MX-Fluxbox
Exec=mx-idesktool
Terminal=false
Type=Application
Icon=/usr/share/icons/Papirus/24x24/apps/icons.svg
OnlyShowIn=FLUXBOX;
Categories=System;X-MXFB-Tools;
NoDisplay=false
