[Desktop Entry]
Encoding=UTF-8
Name=MX Idesktool
Name[am]=MX Idesktool
Name[ar]=MX Idesktool
Name[bg]=MX Idesktool
Name[bn]=MX Idesktool
Name[ca]=MX Idesktool
Name[cs]=MX Idesktool
Name[da]=MX Idesktool
Name[de]=MX Idesktool
Name[el]=MX Idesktool
Name[es]=Idesktool
Name[et]=MX Idesktool
Name[eu]=MX Idesktool
Name[fa]=MX Idesktool
Name[fil_PH]=MX Idesktool
Name[fi]=MX Idesktool
Name[fr]=MX Idesktool
Name[he_IL]=MX Idesktool
Name[hi]=MX Idesktool
Name[hr]=MX Idesktool
Name[hu]=MX Idesktool
Name[id]=MX Idesktool
Name[is]=MX Idesktool
Name[it]=MX Crea Dock
Name[ja]=MX Idesktool
Name[kk]=MX Idesktool
Name[ko]=MX Idesktool
Name[lt]=MX Idesktool
Name[mk]=MX Idesktool
Name[mr]=MX Idesktool
Name[nb]=MX Idesktool
Name[nl]=MX Idesktool
Name[pl]=MX Idesktool
Name[pt_BR]=MX Idesktool
Name[pt]=MX Idesktool
Name[ro]=MX Idesktool
Name[ru]=MX Idesktool
Name[sk]=MX Idesktool
Name[sl]=MX Idesktool
Name[sq]=MX Idesktool
Name[sr]=MX Idesktool
Name[sv]=MX Idesktool
Name[tr]=MX Idesktool
Name[uk]=MX Idesktool
Name[vi]=MX Idesktool
Name[zh_CN]=MX Idesktool
Name[zh_TW]=MX Idesktool
Comment=Create desktop icons in MX-Fluxbox
Comment[am]=
Comment[ar]=
Comment[bg]=
Comment[bn]=
Comment[ca]=
Comment[cs]=
Comment[da]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[et]=
Comment[eu]=
Comment[fa]=
Comment[fil_PH]=
Comment[fi]=
Comment[fr]=
Comment[he_IL]=
Comment[hi]=
Comment[hr]=
Comment[hu]=
Comment[id]=
Comment[is]=
Comment[it]=
Comment[ja]=
Comment[kk]=
Comment[ko]=
Comment[lt]=
Comment[mk]=
Comment[mr]=
Comment[nb]=
Comment[nl]=
Comment[pl]=
Comment[pt_BR]=
Comment[pt]=
Comment[ro]=
Comment[ru]=
Comment[sk]=
Comment[sl]=
Comment[sq]=
Comment[sr]=
Comment[sv]=
Comment[tr]=
Comment[uk]=
Comment[vi]=
Comment[zh_CN]=
Comment[zh_TW]=
Exec=mx-idesktool
Terminal=false
Type=Application
Icon=/usr/share/icons/Papirus/24x24/apps/icons.svg
OnlyShowIn=FLUXBOX;
Categories=System; MX-Utilities
NoDisplay=false
